<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# githubog: http://ogp.me/ns/fb/githubog#">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Repositories</title>
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="GitHub" />
    <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-114.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-144.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144.png" />
    <link rel="logo" type="image/svg" href="https://github-media-downloads.s3.amazonaws.com/github-logo.svg" />
    <meta property="og:image" content="https://github.global.ssl.fastly.net/images/modules/logos_page/Octocat.png">
    <meta name="hostname" content="github-fe132-cp1-prd.iad.github.net">
    <meta name="ruby" content="ruby 1.9.3p194-tcs-github-tcmalloc (e1c0c3f392) [x86_64-linux]">
    <link rel="assets" href="https://github.global.ssl.fastly.net/">
    <link rel="conduit-xhr" href="https://ghconduit.com:25035/">
    <link rel="xhr-socket" href="/_sockets" />



    <meta name="msapplication-TileImage" content="/windows-tile.png" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="selected-link" value="/settings/repositories" data-pjax-transient />
    <meta content="collector.githubapp.com" name="octolytics-host" /><meta content="collector-cdn.github.com" name="octolytics-script-host" /><meta content="github" name="octolytics-app-id" /><meta content="74E7C4B0:6DA9:8B48444:52B163C0" name="octolytics-dimension-request_id" /><meta content="899786" name="octolytics-actor-id" /><meta content="ponych" name="octolytics-actor-login" /><meta content="40e7043e4393b84b6076aef749b6b828f7d148a76794f74284ba998ae4ce60f2" name="octolytics-actor-hash" />




    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <meta content="authenticity_token" name="csrf-param" />
    <meta content="n3IhFBt1xIMZ5eAlL+LIgmjFpmGfkReDry0PziK5WTM=" name="csrf-token" />

    <link href="https://github.global.ssl.fastly.net/assets/github-fee18e679e1beabffa719d9420fedfa11327aedf.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://github.global.ssl.fastly.net/assets/github2-1d8789e5f8f532553b7cb7377bf3d5b4773ce4bb.css" media="all" rel="stylesheet" type="text/css" />




    <script src="https://github.global.ssl.fastly.net/assets/frameworks-2e639d0c18c26c873333076fd69f2e4dc8c73424.js" type="text/javascript"></script>
    <script src="https://github.global.ssl.fastly.net/assets/github-213cad5616ea85bf8566fc9f3613c938e305f0b8.js" type="text/javascript"></script>

    <meta http-equiv="x-pjax-version" content="047667af48173b310014635358a79b90">

    <meta name="description" content="Build software better, together." />
</head>


<body class="logged_in  env-production windows  page-account">
<div class="wrapper">






<div class="header header-logged-in true">
    <div class="container clearfix">

        <a class="header-logo-invertocat" href="https://github.com/">
            <span class="mega-octicon octicon-mark-github"></span>
        </a>


        <a href="/notifications" class="notification-indicator tooltipped downwards" data-gotokey="n" title="You have unread notifications">
            <span class="mail-status unread"></span>
        </a>

        <div class="command-bar js-command-bar  ">
            <form accept-charset="UTF-8" action="/search" class="command-bar-form" id="top_search_form" method="get">

                <input type="text" data-hotkey=" s" name="q" id="js-command-bar-field" placeholder="Search or type a command" tabindex="1" autocapitalize="off"

                       data-username="ponych"
                        >


  <span class="octicon help tooltipped downwards" title="Show command bar help">
    <span class="octicon octicon-question"></span>
  </span>


                <input type="hidden" name="ref" value="cmdform">

            </form>
            <ul class="top-nav">
                <li class="explore"><a href="/explore">Explore</a></li>
                <li><a href="https://gist.github.com">Gist</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="https://help.github.com">Help</a></li>
            </ul>
        </div>




        <ul id="user-links">
            <li>
                <a href="/ponych" class="name">
                    <img height="20" src="https://2.gravatar.com/avatar/1ed98e59301d48034e1b5642442c125f?d=https%3A%2F%2Fidenticons.github.com%2F3a4c0da719c8db4391292ef17647ff54.png&amp;r=x&amp;s=140" width="20" /> ponych
                </a>
            </li>

            <li>
                <a href="/new" id="new_repo" class="tooltipped downwards" title="Create a new repo" aria-label="Create a new repo">
                    <span class="octicon octicon-repo-create"></span>
                </a>
            </li>

            <li>
                <a href="/settings/profile" id="account_settings"
                   class="tooltipped downwards"
                   aria-label="Account settings "
                   title="Account settings ">
                    <span class="octicon octicon-tools"></span>
                </a>
            </li>
            <li>
                <a class="tooltipped downwards" href="/logout" data-method="post" id="logout" title="Sign out" aria-label="Sign out">
                    <span class="octicon octicon-log-out"></span>
                </a>
            </li>

        </ul>

        <div class="js-new-dropdown-contents hidden">


            <ul class="dropdown-menu">
                <li>
                    <a href="/new"><span class="octicon octicon-repo-create"></span> New repository</a>
                </li>
                <li>
                    <a href="/organizations/new"><span class="octicon octicon-organization"></span> New organization</a>
                </li>



            </ul>

        </div>



    </div>
</div>








<div class="site clearfix">
<div id="site-container" class="context-loader-container" data-pjax-container>


<div class="container">

    <div id="page-settings" class="context-loader-container">


        <div class="settings-nav menu-container js-settings-next">
            <ul class="menu accordion js-settings-pjax" data-pjax>
                <li class="section">
                    <a href="/settings/profile" class="section-head">
                        <img height="20" src="https://1.gravatar.com/avatar/1ed98e59301d48034e1b5642442c125f?d=https%3A%2F%2Fidenticons.github.com%2F3a4c0da719c8db4391292ef17647ff54.png&amp;r=x&amp;s=140" width="20" />
                        ponych
                    </a>
                    <ul class="expanded section-nav">
                        <li>
                            <a href="/settings/profile" class="js-selected-navigation-item " data-selected-links=" /settings/profile">Profile</a>
                        </li>
                        <li>
                            <a href="/settings/admin" class="js-selected-navigation-item " data-selected-links=" /settings/admin">Account Settings</a>
                        </li>
                        <li>
                            <a href="/settings/emails" class="js-selected-navigation-item " data-selected-links=" /settings/emails">Emails</a>
                        </li>
                        <li>
                            <a href="/settings/notifications" class="js-selected-navigation-item " data-selected-links=" /settings/notifications">Notification Center</a>
                        </li>
                        <li>
                            <a href="/settings/billing" class="js-selected-navigation-item " data-selected-links="user_billing_settings /settings/billing">Billing</a>
                        </li>
                        <li>
                            <a href="/settings/payments" class="js-selected-navigation-item " data-selected-links=" /settings/payments">Payment History</a>
                        </li>
                        <li>
                            <a href="/settings/ssh" class="js-selected-navigation-item " data-selected-links=" /settings/ssh">SSH Keys</a>
                        </li>
                        <li>
                            <a href="/settings/security" class="js-selected-navigation-item " data-selected-links=" /settings/security">Security History</a>
                        </li>
                        <li>
                            <a href="/settings/applications" class="js-selected-navigation-item " data-selected-links="applications_settings /settings/applications">Applications</a>
                        </li>
                        <li>
                            <a href="/settings/repositories" class="js-selected-navigation-item selected" data-selected-links=" /settings/repositories">Repositories</a>
                        </li>
                        <li>
                            <a href="/settings/organizations" class="js-selected-navigation-item " data-selected-links=" /settings/organizations">Organizations</a>
                        </li>

                        <li class="usage-bar">
                            <dl>
                                <dt>Private Repos <strong>0 of 0</strong></dt>
                                <dd><span style="width: 100%"
                                          class="danger"></span></dd>
                            </dl>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="settings-content">
            <div class="context-loader large-format-loader">
                <p><img alt="Octocat-spinner-128" height="64" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-128.gif" width="64" /></p>
                <p>Loading…</p>
            </div>

            <div class="boxed-group flush">
                <h3>Repositories</h3>
                <div class="boxed-group-inner">
                    <ul class="boxed-group-list repositories settings-repos">
                        <li class="simple public" data-repo="ponych/autovpn-wget">

                            <span class="octicon octicon-repo-repo"></span>
                            <strong><a href="/ponych/autovpn-wget">ponych/autovpn-wget</a></strong>
                            <small>172KB</small>

                        </li>

                        <li class="simple public" data-repo="ponych/cms">

                            <span class="octicon octicon-repo-repo"></span>
                            <strong><a href="/ponych/cms">ponych/cms</a></strong>
                            <small>76KB</small>

                        </li>

                        <li class="simple public fork" data-repo="ponych/Facebook.py">

                            <span class="octicon octicon-repo-repo"></span>
                            <strong><a href="/ponych/Facebook.py">ponych/Facebook.py</a></strong>
                            <small>92KB</small>

                            <p class="fork-flag">
                                <span class="octicon octicon-repo-fork"></span>
                                Forked from <a href="/semyazza/Facebook.py">semyazza/Facebook.py</a>
                            </p>
                        </li>

                        <li class="simple public fork" data-repo="ponych/flamejam">

                            <span class="octicon octicon-repo-repo"></span>
                            <strong><a href="/ponych/flamejam">ponych/flamejam</a></strong>
                            <small>88KB</small>

                            <p class="fork-flag">
                                <span class="octicon octicon-repo-fork"></span>
                                Forked from <a href="/svenstaro/flamejam">svenstaro/flamejam</a>
                            </p>
                        </li>

                        <li class="simple public" data-repo="ponych/flask-login-s">

                            <span class="octicon octicon-repo-repo"></span>
                            <strong><a href="/ponych/flask-login-s">ponych/flask-login-s</a></strong>
                            <small>80KB</small>

                        </li>

                        <li class="simple public" data-repo="ponych/interview">

                            <span class="octicon octicon-repo-repo"></span>
                            <strong><a href="/ponych/interview">ponych/interview</a></strong>
                            <small>58KB</small>

                        </li>

                        <li class="simple public" data-repo="ponych/nodetest">

                            <span class="octicon octicon-repo-repo"></span>
                            <strong><a href="/ponych/nodetest">ponych/nodetest</a></strong>
                            <small>3.78MB</small>

                        </li>

                        <li class="simple public" data-repo="ponych/pigman">

                            <span class="octicon octicon-repo-repo"></span>
                            <strong><a href="/ponych/pigman">ponych/pigman</a></strong>
                            <small>1.68MB</small>

                        </li>

                        <li class="simple public" data-repo="ponych/ponych_python">

                            <span class="octicon octicon-repo-repo"></span>
                            <strong><a href="/ponych/ponych_python">ponych/ponych_python</a></strong>
                            <small>1.10MB</small>

                        </li>

                        <li class="simple public" data-repo="ponych/railsStarter">

                            <span class="octicon octicon-repo-repo"></span>
                            <strong><a href="/ponych/railsStarter">ponych/railsStarter</a></strong>
                            <small>76KB</small>

                        </li>

                        <li class="simple public" data-repo="ponych/resume">

                            <span class="octicon octicon-repo-repo"></span>
                            <strong><a href="/ponych/resume">ponych/resume</a></strong>
                            <small>76KB</small>

                        </li>

                        <li class="simple public" data-repo="ponych/simplecms">

                            <span class="octicon octicon-repo-repo"></span>
                            <strong><a href="/ponych/simplecms">ponych/simplecms</a></strong>
                            <small>76KB</small>

                        </li>

                        <li class="simple public" data-repo="ponych/teapast">

                            <span class="octicon octicon-repo-repo"></span>
                            <strong><a href="/ponych/teapast">ponych/teapast</a></strong>
                            <small>80KB</small>

                        </li>

                        <li class="simple public" data-repo="ponych/test">

                            <span class="octicon octicon-repo-repo"></span>
                            <strong><a href="/ponych/test">ponych/test</a></strong>
                            <small>2.04MB</small>

                        </li>

                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>


</div>
<div class="modal-backdrop"></div>
</div>
</div><!-- /.wrapper -->

<div class="container">
    <div class="site-footer">
        <ul class="site-footer-links right">
            <li><a href="https://status.github.com/">Status</a></li>
            <li><a href="http://developer.github.com">API</a></li>
            <li><a href="http://training.github.com">Training</a></li>
            <li><a href="http://shop.github.com">Shop</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>

        </ul>

        <a href="/">
            <span class="mega-octicon octicon-mark-github"></span>
        </a>

        <ul class="site-footer-links">
            <li>&copy; 2013 <span title="0.02952s from github-fe132-cp1-prd.iad.github.net">GitHub</span>, Inc.</li>
            <li><a href="/site/terms">Terms</a></li>
            <li><a href="/site/privacy">Privacy</a></li>
            <li><a href="/security">Security</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div><!-- /.site-footer -->
</div><!-- /.container -->


<div class="fullscreen-overlay js-fullscreen-overlay" id="fullscreen_overlay">
    <div class="fullscreen-container js-fullscreen-container">
        <div class="textarea-wrap">
            <textarea name="fullscreen-contents" id="fullscreen-contents" class="js-fullscreen-contents" placeholder="" data-suggester="fullscreen_suggester"></textarea>
        </div>
    </div>
    <div class="fullscreen-sidebar">
        <a href="#" class="exit-fullscreen js-exit-fullscreen tooltipped leftwards" title="Exit Zen Mode">
            <span class="mega-octicon octicon-screen-normal"></span>
        </a>
        <a href="#" class="theme-switcher js-theme-switcher tooltipped leftwards"
           title="Switch themes">
            <span class="octicon octicon-color-mode"></span>
        </a>
    </div>
</div>



<div id="ajax-error-message" class="flash flash-error">
    <span class="octicon octicon-alert"></span>
    <a href="#" class="octicon octicon-remove-close close ajax-error-dismiss"></a>
    Something went wrong with that request. Please try again.
</div>

</body>
</html>
