


<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# githubog: http://ogp.me/ns/fb/githubog#">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pulse · ponych/pigman</title>
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="GitHub" />
    <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-114.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-144.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144.png" />
    <link rel="logo" type="image/svg" href="https://github-media-downloads.s3.amazonaws.com/github-logo.svg" />
    <meta property="og:image" content="https://github.global.ssl.fastly.net/images/modules/logos_page/Octocat.png">
    <meta name="hostname" content="github-fe135-cp1-prd.iad.github.net">
    <meta name="ruby" content="ruby 1.9.3p194-tcs-github-tcmalloc (e1c0c3f392) [x86_64-linux]">
    <link rel="assets" href="https://github.global.ssl.fastly.net/">
    <link rel="conduit-xhr" href="https://ghconduit.com:25035/">
    <link rel="xhr-socket" href="/_sockets" />



    <meta name="msapplication-TileImage" content="/windows-tile.png" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="selected-link" value="pulse" data-pjax-transient />
    <meta content="collector.githubapp.com" name="octolytics-host" /><meta content="collector-cdn.github.com" name="octolytics-script-host" /><meta content="github" name="octolytics-app-id" /><meta content="74E7C52B:2C50:89C9A90:52B166A7" name="octolytics-dimension-request_id" /><meta content="899786" name="octolytics-actor-id" /><meta content="ponych" name="octolytics-actor-login" /><meta content="40e7043e4393b84b6076aef749b6b828f7d148a76794f74284ba998ae4ce60f2" name="octolytics-actor-hash" />




    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <meta content="authenticity_token" name="csrf-param" />
    <meta content="n3IhFBt1xIMZ5eAlL+LIgmjFpmGfkReDry0PziK5WTM=" name="csrf-token" />

    <link href="https://github.global.ssl.fastly.net/assets/github-fee18e679e1beabffa719d9420fedfa11327aedf.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://github.global.ssl.fastly.net/assets/github2-1d8789e5f8f532553b7cb7377bf3d5b4773ce4bb.css" media="all" rel="stylesheet" type="text/css" />




    <script src="https://github.global.ssl.fastly.net/assets/frameworks-2e639d0c18c26c873333076fd69f2e4dc8c73424.js" type="text/javascript"></script>
    <script src="https://github.global.ssl.fastly.net/assets/github-213cad5616ea85bf8566fc9f3613c938e305f0b8.js" type="text/javascript"></script>

    <meta http-equiv="x-pjax-version" content="047667af48173b310014635358a79b90">

    <meta property="og:title" content="pigman"/>
    <meta property="og:type" content="githubog:gitrepository"/>
    <meta property="og:url" content="https://github.com/ponych/pigman"/>
    <meta property="og:image" content="https://github.global.ssl.fastly.net/images/gravatars/gravatar-user-420.png"/>
    <meta property="og:site_name" content="GitHub"/>
    <meta property="og:description" content="Contribute to pigman development by creating an account on GitHub."/>

    <meta name="description" content="Contribute to pigman development by creating an account on GitHub." />

    <meta content="899786" name="octolytics-dimension-user_id" /><meta content="ponych" name="octolytics-dimension-user_login" /><meta content="15242078" name="octolytics-dimension-repository_id" /><meta content="ponych/pigman" name="octolytics-dimension-repository_nwo" /><meta content="true" name="octolytics-dimension-repository_public" /><meta content="false" name="octolytics-dimension-repository_is_fork" /><meta content="15242078" name="octolytics-dimension-repository_network_root_id" /><meta content="ponych/pigman" name="octolytics-dimension-repository_network_root_nwo" />
    <link href="https://github.com/ponych/pigman/commits/master.atom" rel="alternate" title="Recent Commits to pigman:master" type="application/atom+xml" />

</head>


<body class="logged_in  env-production windows vis-public page-pulse">
<div class="wrapper">






<div class="header header-logged-in true">
    <div class="container clearfix">

        <a class="header-logo-invertocat" href="https://github.com/">
            <span class="mega-octicon octicon-mark-github"></span>
        </a>


        <a href="/notifications" class="notification-indicator tooltipped downwards" data-gotokey="n" title="You have unread notifications">
            <span class="mail-status unread"></span>
        </a>

        <div class="command-bar js-command-bar  in-repository">
            <form accept-charset="UTF-8" action="/search" class="command-bar-form" id="top_search_form" method="get">

                <input type="text" data-hotkey=" s" name="q" id="js-command-bar-field" placeholder="Search or type a command" tabindex="1" autocapitalize="off"

                       data-username="ponych"
                       data-repo="ponych/pigman"
                       data-branch="master"
                       data-sha="248613ee34051f87b47a44de629224917cadba36"
                        >

                <input type="hidden" name="nwo" value="ponych/pigman" />

                <div class="select-menu js-menu-container js-select-menu search-context-select-menu">
      <span class="minibutton select-menu-button js-menu-target">
        <span class="js-select-button">This repository</span>
      </span>

                    <div class="select-menu-modal-holder js-menu-content js-navigation-container">
                        <div class="select-menu-modal">

                            <div class="select-menu-item js-navigation-item js-this-repository-navigation-item selected">
                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                <input type="radio" class="js-search-this-repository" name="search_target" value="repository" checked="checked" />
                                <div class="select-menu-item-text js-select-button-text">This repository</div>
                            </div> <!-- /.select-menu-item -->

                            <div class="select-menu-item js-navigation-item js-all-repositories-navigation-item">
                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                <input type="radio" name="search_target" value="global" />
                                <div class="select-menu-item-text js-select-button-text">All repositories</div>
                            </div> <!-- /.select-menu-item -->

                        </div>
                    </div>
                </div>

  <span class="octicon help tooltipped downwards" title="Show command bar help">
    <span class="octicon octicon-question"></span>
  </span>


                <input type="hidden" name="ref" value="cmdform">

            </form>
            <ul class="top-nav">
                <li class="explore"><a href="/explore">Explore</a></li>
                <li><a href="https://gist.github.com">Gist</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="https://help.github.com">Help</a></li>
            </ul>
        </div>




        <ul id="user-links">
            <li>
                <a href="/ponych" class="name">
                    <img height="20" src="https://0.gravatar.com/avatar/1ed98e59301d48034e1b5642442c125f?d=https%3A%2F%2Fidenticons.github.com%2F3a4c0da719c8db4391292ef17647ff54.png&amp;r=x&amp;s=140" width="20" /> ponych
                </a>
            </li>

            <li>
                <a href="/new" id="new_repo" class="tooltipped downwards" title="Create a new repo" aria-label="Create a new repo">
                    <span class="octicon octicon-repo-create"></span>
                </a>
            </li>

            <li>
                <a href="/settings/profile" id="account_settings"
                   class="tooltipped downwards"
                   aria-label="Account settings "
                   title="Account settings ">
                    <span class="octicon octicon-tools"></span>
                </a>
            </li>
            <li>
                <a class="tooltipped downwards" href="/logout" data-method="post" id="logout" title="Sign out" aria-label="Sign out">
                    <span class="octicon octicon-log-out"></span>
                </a>
            </li>

        </ul>

        <div class="js-new-dropdown-contents hidden">


            <ul class="dropdown-menu">
                <li>
                    <a href="/new"><span class="octicon octicon-repo-create"></span> New repository</a>
                </li>
                <li>
                    <a href="/organizations/new"><span class="octicon octicon-organization"></span> New organization</a>
                </li>



                <li class="section-title">
                    <span title="ponych/pigman">This repository</span>
                </li>
                <li>
                    <a href="/ponych/pigman/issues/new"><span class="octicon octicon-issue-opened"></span> New issue</a>
                </li>
                <li>
                    <a href="/ponych/pigman/settings/collaboration"><span class="octicon octicon-person-add"></span> New collaborator</a>
                </li>
            </ul>

        </div>



    </div>
</div>








<div class="site" itemscope itemtype="http://schema.org/WebPage">

<div class="pagehead repohead instapaper_ignore readability-menu">
    <div class="container">


        <ul class="pagehead-actions">

            <li class="subscription">
                <form accept-charset="UTF-8" action="/notifications/subscribe" class="js-social-container" data-autosubmit="true" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="n3IhFBt1xIMZ5eAlL+LIgmjFpmGfkReDry0PziK5WTM=" /></div>  <input id="repository_id" name="repository_id" type="hidden" value="15242078" />

                    <div class="select-menu js-menu-container js-select-menu">
                        <a class="social-count js-social-count" href="/ponych/pigman/watchers">
                            1
                        </a>
      <span class="minibutton select-menu-button with-count js-menu-target" role="button" tabindex="0">
        <span class="js-select-button">
          <span class="octicon octicon-eye-unwatch"></span>
          Unwatch
        </span>
      </span>

                        <div class="select-menu-modal-holder">
                            <div class="select-menu-modal subscription-menu-modal js-menu-content">
                                <div class="select-menu-header">
                                    <span class="select-menu-title">Notification status</span>
                                    <span class="octicon octicon-remove-close js-menu-close"></span>
                                </div> <!-- /.select-menu-header -->

                                <div class="select-menu-list js-navigation-container" role="menu">

                                    <div class="select-menu-item js-navigation-item " role="menuitem" tabindex="0">
                                        <span class="select-menu-item-icon octicon octicon-check"></span>
                                        <div class="select-menu-item-text">
                                            <input id="do_included" name="do" type="radio" value="included" />
                                            <h4>Not watching</h4>
                                            <span class="description">You only receive notifications for conversations in which you participate or are @mentioned.</span>
                <span class="js-select-button-text hidden-select-button-text">
                  <span class="octicon octicon-eye-watch"></span>
                  Watch
                </span>
                                        </div>
                                    </div> <!-- /.select-menu-item -->

                                    <div class="select-menu-item js-navigation-item selected" role="menuitem" tabindex="0">
                                        <span class="select-menu-item-icon octicon octicon octicon-check"></span>
                                        <div class="select-menu-item-text">
                                            <input checked="checked" id="do_subscribed" name="do" type="radio" value="subscribed" />
                                            <h4>Watching</h4>
                                            <span class="description">You receive notifications for all conversations in this repository.</span>
                <span class="js-select-button-text hidden-select-button-text">
                  <span class="octicon octicon-eye-unwatch"></span>
                  Unwatch
                </span>
                                        </div>
                                    </div> <!-- /.select-menu-item -->

                                    <div class="select-menu-item js-navigation-item " role="menuitem" tabindex="0">
                                        <span class="select-menu-item-icon octicon octicon-check"></span>
                                        <div class="select-menu-item-text">
                                            <input id="do_ignore" name="do" type="radio" value="ignore" />
                                            <h4>Ignoring</h4>
                                            <span class="description">You do not receive any notifications for conversations in this repository.</span>
                <span class="js-select-button-text hidden-select-button-text">
                  <span class="octicon octicon-mute"></span>
                  Stop ignoring
                </span>
                                        </div>
                                    </div> <!-- /.select-menu-item -->

                                </div> <!-- /.select-menu-list -->

                            </div> <!-- /.select-menu-modal -->
                        </div> <!-- /.select-menu-modal-holder -->
                    </div> <!-- /.select-menu -->

                </form>
            </li>

            <li>


                <div class="js-toggler-container js-social-container starring-container ">
                    <a href="/ponych/pigman/unstar"
                       class="minibutton with-count js-toggler-target star-button starred upwards"
                       title="Unstar this repository" data-remote="true" data-method="post" rel="nofollow">
                        <span class="octicon octicon-star-delete"></span><span class="text">Unstar</span>
                    </a>

                    <a href="/ponych/pigman/star"
                       class="minibutton with-count js-toggler-target star-button unstarred upwards"
                       title="Star this repository" data-remote="true" data-method="post" rel="nofollow">
                        <span class="octicon octicon-star"></span><span class="text">Star</span>
                    </a>

                    <a class="social-count js-social-count" href="/ponych/pigman/stargazers">
                        0
                    </a>
                </div>

            </li>


            <li>
                <a href="/ponych/pigman/fork" class="minibutton with-count js-toggler-target fork-button lighter upwards" title="Fork this repo" rel="nofollow" data-method="post">
                    <span class="octicon octicon-git-branch-create"></span><span class="text">Fork</span>
                </a>
                <a href="/ponych/pigman/network" class="social-count">0</a>
            </li>


        </ul>

        <h1 itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="entry-title public">
            <span class="repo-label"><span>public</span></span>
            <span class="mega-octicon octicon-repo"></span>
          <span class="author">
            <a href="/ponych" class="url fn" itemprop="url" rel="author"><span itemprop="title">ponych</span></a>
          </span>
            <span class="repohead-name-divider">/</span>
            <strong><a href="/ponych/pigman" class="js-current-repository js-repo-home-link">pigman</a></strong>

          <span class="page-context-loader">
            <img alt="Octocat-spinner-32" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16" />
          </span>

        </h1>
    </div><!-- /.container -->
</div><!-- /.repohead -->

<div class="container">


<div class="repository-with-sidebar repo-container  ">

<div class="repository-sidebar">


    <div class="sunken-menu vertical-right repo-nav js-repo-nav js-repository-container-pjax js-octicon-loaders">
        <div class="sunken-menu-contents">
            <ul class="sunken-menu-group">
                <li class="tooltipped leftwards" title="Code">
                    <a href="/ponych/pigman" aria-label="Code" class="js-selected-navigation-item sunken-menu-item" data-gotokey="c" data-pjax="true" data-selected-links="repo_source repo_downloads repo_commits repo_tags repo_branches /ponych/pigman">
                        <span class="octicon octicon-code"></span> <span class="full-word">Code</span>
                        <img alt="Octocat-spinner-32" class="mini-loader" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16" />
                    </a>      </li>

                <li class="tooltipped leftwards" title="Issues">
                    <a href="/ponych/pigman/issues" aria-label="Issues" class="js-selected-navigation-item sunken-menu-item js-disable-pjax" data-gotokey="i" data-selected-links="repo_issues /ponych/pigman/issues">
                        <span class="octicon octicon-issue-opened"></span> <span class="full-word">Issues</span>
                        <span class='counter'>2</span>
                        <img alt="Octocat-spinner-32" class="mini-loader" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16" />
                    </a>        </li>

                <li class="tooltipped leftwards" title="Pull Requests">
                    <a href="/ponych/pigman/pulls" aria-label="Pull Requests" class="js-selected-navigation-item sunken-menu-item js-disable-pjax" data-gotokey="p" data-selected-links="repo_pulls /ponych/pigman/pulls">
                        <span class="octicon octicon-git-pull-request"></span> <span class="full-word">Pull Requests</span>
                        <span class='counter'>0</span>
                        <img alt="Octocat-spinner-32" class="mini-loader" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16" />
                    </a>      </li>


                <li class="tooltipped leftwards" title="Wiki">
                    <a href="/ponych/pigman/wiki" aria-label="Wiki" class="js-selected-navigation-item sunken-menu-item" data-pjax="true" data-selected-links="repo_wiki /ponych/pigman/wiki">
                        <span class="octicon octicon-book"></span> <span class="full-word">Wiki</span>
                        <img alt="Octocat-spinner-32" class="mini-loader" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16" />
                    </a>        </li>
            </ul>
            <div class="sunken-menu-separator"></div>
            <ul class="sunken-menu-group">

                <li class="tooltipped leftwards" title="Pulse">
                    <a href="/ponych/pigman/pulse" aria-label="Pulse" class="selected js-selected-navigation-item sunken-menu-item" data-pjax="true" data-selected-links="pulse /ponych/pigman/pulse">
                        <span class="octicon octicon-pulse"></span> <span class="full-word">Pulse</span>
                        <img alt="Octocat-spinner-32" class="mini-loader" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16" />
                    </a>      </li>

                <li class="tooltipped leftwards" title="Graphs">
                    <a href="/ponych/pigman/graphs" aria-label="Graphs" class="js-selected-navigation-item sunken-menu-item" data-pjax="true" data-selected-links="repo_graphs repo_contributors /ponych/pigman/graphs">
                        <span class="octicon octicon-graph"></span> <span class="full-word">Graphs</span>
                        <img alt="Octocat-spinner-32" class="mini-loader" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16" />
                    </a>      </li>

                <li class="tooltipped leftwards" title="Network">
                    <a href="/ponych/pigman/network" aria-label="Network" class="js-selected-navigation-item sunken-menu-item js-disable-pjax" data-selected-links="repo_network /ponych/pigman/network">
                        <span class="octicon octicon-git-branch"></span> <span class="full-word">Network</span>
                        <img alt="Octocat-spinner-32" class="mini-loader" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16" />
                    </a>      </li>
            </ul>


            <div class="sunken-menu-separator"></div>
            <ul class="sunken-menu-group">
                <li class="tooltipped leftwards" title="Settings">
                    <a href="/ponych/pigman/settings"
                       class="sunken-menu-item" data-pjax aria-label="Settings">
                        <span class="octicon octicon-tools"></span> <span class="full-word">Settings</span>
                        <img alt="Octocat-spinner-32" class="mini-loader" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16" />
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="only-with-full-nav">




        <div class="clone-url open"
             data-protocol-type="http"
             data-url="/users/set_protocol?protocol_selector=http&amp;protocol_type=push">
            <h3><strong>HTTPS</strong> clone URL</h3>
            <div class="clone-url-box">
                <input type="text" class="clone js-url-field"
                       value="https://github.com/ponych/pigman.git" readonly="readonly">

                <span class="js-zeroclipboard url-box-clippy minibutton zeroclipboard-button" data-clipboard-text="https://github.com/ponych/pigman.git" data-copied-hint="copied!" title="copy to clipboard"><span class="octicon octicon-clippy"></span></span>
            </div>
        </div>



        <div class="clone-url "
             data-protocol-type="ssh"
             data-url="/users/set_protocol?protocol_selector=ssh&amp;protocol_type=push">
            <h3><strong>SSH</strong> clone URL</h3>
            <div class="clone-url-box">
                <input type="text" class="clone js-url-field"
                       value="git@github.com:ponych/pigman.git" readonly="readonly">

                <span class="js-zeroclipboard url-box-clippy minibutton zeroclipboard-button" data-clipboard-text="git@github.com:ponych/pigman.git" data-copied-hint="copied!" title="copy to clipboard"><span class="octicon octicon-clippy"></span></span>
            </div>
        </div>



        <div class="clone-url "
             data-protocol-type="subversion"
             data-url="/users/set_protocol?protocol_selector=subversion&amp;protocol_type=push">
            <h3><strong>Subversion</strong> checkout URL</h3>
            <div class="clone-url-box">
                <input type="text" class="clone js-url-field"
                       value="https://github.com/ponych/pigman" readonly="readonly">

                <span class="js-zeroclipboard url-box-clippy minibutton zeroclipboard-button" data-clipboard-text="https://github.com/ponych/pigman" data-copied-hint="copied!" title="copy to clipboard"><span class="octicon octicon-clippy"></span></span>
            </div>
        </div>


        <p class="clone-options">You can clone with
            <a href="#" class="js-clone-selector" data-protocol="http">HTTPS</a>,
            <a href="#" class="js-clone-selector" data-protocol="ssh">SSH</a>,
            or <a href="#" class="js-clone-selector" data-protocol="subversion">Subversion</a>.
  <span class="octicon help tooltipped upwards" title="Get help on which URL is right for you.">
    <a href="https://help.github.com/articles/which-remote-url-should-i-use">
        <span class="octicon octicon-question"></span>
    </a>
  </span>
        </p>


        <a href="github-windows://openRepo/https://github.com/ponych/pigman" class="minibutton sidebar-button">
            <span class="octicon octicon-device-desktop"></span>
            Clone in Desktop
        </a>

        <a href="/ponych/pigman/archive/master.zip"
           class="minibutton sidebar-button"
           title="Download this repository as a zip file"
           rel="nofollow">
            <span class="octicon octicon-cloud-download"></span>
            Download ZIP
        </a>
    </div>
</div><!-- /.repository-sidebar -->

<div id="js-repo-pjax-container" class="repository-content context-loader-container" data-pjax-container>

    <div class="header-with-actions">
        <div class="select-menu js-menu-container js-select-menu js-pulse-period">
    <span class="minibutton select-menu-button js-menu-target">
      <i>Period:</i>
      <span class="js-select-button">1 week</span>
    </span>

            <div class="select-menu-modal-holder js-menu-content js-navigation-container">
                <div class="select-menu-modal">
                    <div class="select-menu-header">
                        <span class="octicon octicon-remove-close js-menu-close"></span>
                        <span class="select-menu-title">Filter Activity</span>
                    </div> <!-- /.select-menu-header -->

                    <div class="select-menu-list">
                        <div class="select-menu-item js-navigation-item ">
                            <input data-url="/ponych/pigman/pulse/daily" id="period_daily" name="period" type="radio" value="daily" />
                            <span class="select-menu-item-icon octicon octicon-check"></span>
                            <div class="select-menu-item-text js-select-button-text">24 hours</div>
                        </div> <!-- /.select-menu-item -->
                        <div class="select-menu-item js-navigation-item ">
                            <input data-url="/ponych/pigman/pulse/halfweekly" id="period_halfweekly" name="period" type="radio" value="halfweekly" />
                            <span class="select-menu-item-icon octicon octicon-check"></span>
                            <div class="select-menu-item-text js-select-button-text">3 days</div>
                        </div> <!-- /.select-menu-item -->
                        <div class="select-menu-item js-navigation-item selected">
                            <input checked="checked" data-url="/ponych/pigman/pulse" id="period_weekly" name="period" type="radio" value="weekly" />
                            <span class="select-menu-item-icon octicon octicon-check"></span>
                            <div class="select-menu-item-text js-select-button-text">1 week</div>
                        </div> <!-- /.select-menu-item -->
                        <div class="select-menu-item js-navigation-item ">
                            <input data-url="/ponych/pigman/pulse/monthly" id="period_monthly" name="period" type="radio" value="monthly" />
                            <span class="select-menu-item-icon octicon octicon-check"></span>
                            <div class="select-menu-item-text js-select-button-text">1 month</div>
                        </div> <!-- /.select-menu-item -->

                    </div> <!-- /.select-menu-list -->
                </div> <!-- /.select-menu-modal -->
            </div> <!-- /.select-menu-modal-holder -->
        </div> <!-- /.select-menu -->

        <h3 class="date-range">December 11 2013 <span class='dash'>-</span> December 18 2013</h3>
    </div>

    <div class="capped-box overall-summary">
        <h3>Overview</h3>
        <div class="graphs">
            <!-- pulls graph -->
            <div class="graph">
                <div class="mini-bar-graph">
                    <a href="/ponych/pigman/pulls?direction=desc&amp;sort=created&amp;state=closed" class="graph-bar merged-pulls" style="width:NaN%"></a>
                    <a href="/ponych/pigman/pulls?direction=desc&amp;sort=created&amp;state=open" class="graph-bar new-pulls" style="width:NaN%"></a>
                </div>
                <p class="desc"><span class="num">0</span> active pull requests</p>
            </div>
            <!-- /pulls graph -->

            <!-- issuses graphs -->
            <div class="graph">
                <div class="mini-bar-graph">
                    <a href="/ponych/pigman/issues?state=closed" class="graph-bar closed-issues" style="width:33.33333333333333%"></a>
                    <a href="/ponych/pigman/issues?state=open" class="graph-bar new-issues" style="width:66.66666666666666%">
                    </a>
                </div>
                <p class="desc"><span class="num">3</span> active issues</p>
            </div>
            <!-- /issues graph -->
        </div>

        <ul class="summary-stats">
            <li>
                <a href="#merged-pull-requests">
        <span class="num">
          <span class="octicon octicon-git-pull-request"></span>
          0
        </span>
                    merged pull requests
                </a>
            </li>
            <li>
                <a href="#proposed-pull-requests">
        <span class="num">
          <span class="octicon octicon-git-branch-create"></span>
          0
        </span>
                    proposed pull requests
                </a>
            </li>
            <li>
                <a href="#closed-issues">
        <span class="num">
          <span class="octicon octicon-issue-closed"></span>
          1
        </span>
                    closed issue
                </a>
            </li>
            <li>
                <a href="#new-issues">
        <span class="num">
          <span class="octicon octicon-issue-opened"></span>
          2
        </span>
                    new issues
                </a>
            </li>
        </ul>
    </div>

    <div class="authors-and-code">
        <div class="section diffstat-summary">
            <strong>1 author</strong>
            has pushed
            <strong>3 commits</strong> to all branches, excluding merges.
            On master, <strong>30 files</strong>
            have changed and there have been
            <a href="/ponych/pigman/compare/master%40%7B1386753073%7D...master" class="lines-changed">
                <strong class="insertions">10,610</strong> <strong>additions</strong> and
                <strong class="deletions">4,375</strong> <strong>deletions</strong></a>.
        </div>
        <div class="js-graph graph-canvas pulse-authors-graph js-pulse-authors-graph section"
             data-url="https://github.com/ponych/pigman/pulse_committer_data"
             data-commits-url="https://github.com/ponych/pigman/commits/">
            <img class="graph-loading dots" src="/images/spinners/octocat-spinner-128.gif" />
        </div>
    </div>

    <div class="pulse-sections">

        <div id="issues" class="pulse-section">
            <h3 class="conversation-list-heading" id="closed-issues">
                <div class="inner">
                    <span class="octicon octicon-issue-closed"></span>
                    <strong>1</strong> Issue
                    closed by <strong>1</strong> person
                </div>
            </h3>
            <ul class="simple-conversation-list">
                <li>
                    <span class="state state-closed">closed</span>
                    <a href="/ponych/pigman/issues/1" class="title"><span class="num">#1</span> test issue</a>
                    <time class="js-relative-date" datetime="2013-12-18T00:59:56-08:00" title="2013-12-18 00:59:56">December 18, 2013</time>
                </li>
            </ul>

            <h3 class="conversation-list-heading" id="new-issues">
                <div class="inner">
                    <span class="octicon octicon-issue-opened"></span>
                    <strong>2</strong> Issues
                    created by <strong>1</strong> person
                </div>
            </h3>
            <ul class="simple-conversation-list">
                <li>
                    <span class="state state-open">opened</span>
                    <a href="/ponych/pigman/issues/3" class="title"><span class="num">#3</span> jsut another test.</a>
                    <time class="js-relative-date" datetime="2013-12-18T01:01:25-08:00" title="2013-12-18 01:01:25">December 18, 2013</time>
                </li>
                <li>
                    <span class="state state-open">opened</span>
                    <a href="/ponych/pigman/issues/2" class="title"><span class="num">#2</span> test issue2</a>
                    <time class="js-relative-date" datetime="2013-12-18T01:01:07-08:00" title="2013-12-18 01:01:07">December 18, 2013</time>
                </li>
            </ul>

        </div>


    </div>

</div>

</div><!-- /.repo-container -->
<div class="modal-backdrop"></div>
</div><!-- /.container -->
</div><!-- /.site -->


</div><!-- /.wrapper -->

<div class="container">
    <div class="site-footer">
        <ul class="site-footer-links right">
            <li><a href="https://status.github.com/">Status</a></li>
            <li><a href="http://developer.github.com">API</a></li>
            <li><a href="http://training.github.com">Training</a></li>
            <li><a href="http://shop.github.com">Shop</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>

        </ul>

        <a href="/">
            <span class="mega-octicon octicon-mark-github"></span>
        </a>

        <ul class="site-footer-links">
            <li>&copy; 2013 <span title="0.04582s from github-fe135-cp1-prd.iad.github.net">GitHub</span>, Inc.</li>
            <li><a href="/site/terms">Terms</a></li>
            <li><a href="/site/privacy">Privacy</a></li>
            <li><a href="/security">Security</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div><!-- /.site-footer -->
</div><!-- /.container -->


<div class="fullscreen-overlay js-fullscreen-overlay" id="fullscreen_overlay">
    <div class="fullscreen-container js-fullscreen-container">
        <div class="textarea-wrap">
            <textarea name="fullscreen-contents" id="fullscreen-contents" class="js-fullscreen-contents" placeholder="" data-suggester="fullscreen_suggester"></textarea>
            <div class="suggester-container">
                <div class="suggester fullscreen-suggester js-navigation-container" id="fullscreen_suggester"
                     data-url="/ponych/pigman/suggestions/commit">
                </div>
            </div>
        </div>
    </div>
    <div class="fullscreen-sidebar">
        <a href="#" class="exit-fullscreen js-exit-fullscreen tooltipped leftwards" title="Exit Zen Mode">
            <span class="mega-octicon octicon-screen-normal"></span>
        </a>
        <a href="#" class="theme-switcher js-theme-switcher tooltipped leftwards"
           title="Switch themes">
            <span class="octicon octicon-color-mode"></span>
        </a>
    </div>
</div>



<div id="ajax-error-message" class="flash flash-error">
    <span class="octicon octicon-alert"></span>
    <a href="#" class="octicon octicon-remove-close close ajax-error-dismiss"></a>
    Something went wrong with that request. Please try again.
</div>

</body>
</html>

